[run]
source =
    accounts
    places
    scheduling
    search
    wishlist
    reviews
    fitmatrix
branch = True
omit =
    accounts/management/commands/seed_demo.py
    fitmatrix/fitmatrix/*
    fitmatrix/asgi.py
    fitmatrix/wsgi.py
    manage.py
    accounts/views.py
    scheduling/views.py
    reviews/views.py
    fitmatrix/views.py

[report]
show_missing = True
skip_empty = True
precision = 2
